nav{
    display:flex;
    justify-content: space-around;
    background-color: grey;
}


ul{
    display: inline-flex;
    list-style: none;
    
}


.item{
    padding: 5px;
}

.logo{
    margin-right: 20vw; 
}

















/**{*/
/*    margin:0;*/
/*    padding:0;*/
/*    box-sizing: border-box;*/
/*}*/



/*.navbar{*/
/*    background-color: white;*/
/*    color: black;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 10px;*/
/*    flex-wrap: wrap;*/
    
/*}*/

/*.navlist{*/
/*    display: flex;*/
/*    list-style: none;*/
/*    margin-right: 10vw;*/
/*}*/


/*.logo{*/
/*    margin-left: 5vw;*/
/*    font-weight: bolder;*/
    
/*}*/


/*li{*/
/*    display: inline-flex;*/
/*    margin: 10px;*/
/*    font-weight: bolder;*/
/*}*/

/*header{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    height: 40vh;*/
/*    background-color: grey;*/
/*}*/