*{
    box-sizing: border-box;
}


main{
    background-color: white;
    height: 770px;
    width: 1210px;
    margin: auto;
    position: relative;
    
}

.red-box{
    width: 515px;
    height: 340px;
    position: absolute;
    top: 0px;
    border-top: 35px solid black;
    border: 45px solid black;
    background-color: #e73b06;
    
}

.blue-box{
    width: 515px;
    height: 220px;
    position: absolute;
    top: 0px;
    left: 555px;
    border-top: 35px solid black;
    border: 72px solid black;
    background-color: #4006e7;
    
}

.pink-box{
    width: 445px;
    height: 125px;
    position: absolute;
    top: 500px;
    right: 0px;
    border: 10px solid black;
    padding: 20px;
    background-color: pink;
    background-clip: content-box;
    
    
}







